<!DOCTYPE html>
<html lang="en" ng-app="CalculatorApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css"> <!--bootstrap css-->
    <link rel="stylesheet" href="stylesheet.css"><!--custome stylesheet.css-->
    <script src="/libs/jquery/dist/jquery.js">  </script> <!--jquery.js-->
    <script src="/libs/bootstrap/dist/js/bootstrap.js">  </script><!--bootstrap.js-->
    <script src="/libs/angular/angular.js">  </script><!-- angular.js-->
    <script src="/calculator.js"> </script><!-- custome calculator.js-->
    

</head>
<body class="container" ng-controller="CalculatorCtrl as calculatorCtrl">
    <div class="container outer-border">
    <h1>Calculator</h1>
    <div class="answer">
        <p>  {{calculatorCtrl.answer}}</p>
    </div>
    <br>
    <label>Oper1</label> 
    <input type="text" ng-model="calculatorCtrl.oper1" placeholder="Please enter number ">
    <br>
    <label>Oper2</label>
    <input type="text" ng-model="calculatorCtrl.oper2" placeholder="Please enter number ">
    <br>
    
    <div >
        <div>
    <button type="button" ng-click="calculatorCtrl.addOper1AndOper2()" >ADD</button> 
        </div>
        <div>
    <button type="button" ng-click="calculatorCtrl.mulOper1AndOper2()" >MUL</button> 
        </div>
        <div>
    <button type="button" ng-click="calculatorCtrl.divOper1AndOper2()" >DIV</button> 
        </div>
        <div>
    <button type="button" ng-click="calculatorCtrl.subOper1AndOper2()" >SUB</button> 
        </div>
    </div>
    
    <div>
        <p style="color: red;">{{calculatorCtrl.errorMessage}}</p>
    </div>
 </div>
</body>
</html>