<!DOCTYPE html>
<html lang="en" ng-app="FirstApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.css">
    <script src="/libs/jquery/dist/jquery.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/libs/angular/angular.js"></script>
    <!--<your own script goes at bottom file >-->    
    <!--load my app-->
    <script src="/index.js" ></script>
</head>
<body class=container ng-controller="FirstCtrl as firstCtrl">
    <h1 >{{ firstCtrl.myText}}</h1>
    <h1 >{{ firstCtrl.reverseMyText}}</h1>
    <br>
    <input type="text" size="30" placeholder="type some text here" ng-model="firstCtrl.myText">
    <button type="button" ng-click="firstCtrl.reverseText()">Reverse</button>
    <button type="button" ng-click="firstCtrl.clearText()">Clear Reverse</button>
</body>
</html>