.outer-border{
border: 1px solid black;
}
.container{
padding: 10px;
font-family: Arial, Helvetica, sans-serif;
font-size: 1rem;
max-width: 400px;
max-height: 300px;
}
div{
display: inline-block;
}
.answer{
    height: 20px;
    border: 1px solid black;width:150px;
    padding: 5px;
    margin: 1px;
}
